

body {
    background-image: url('../img/fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Indie Flower', cursive;
    color: black;
    transition: 3s;
}
nav {
    margin: 20px auto;
    background-color: #5f5f5f;
    border-radius: 20px;
    padding-left: 10px;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    font-family: 'Indie Flower', cursive;
    float: left;
    font-size: 15px;
  }
  
  nav ul li a {
    display: block;
    padding: 20px;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: #272727;
  }
  
  nav ul li a:hover {
    background: #272727;
  }
.categoria {
    display: none;
}
  .logo {
      width: 40px;
      border-radius: 20px;
      position: absolute;
      top: 30px;
      left: 20px;
  }
.padre {
    background-color: rgba(169, 169, 169, 0.52);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
  .img {
      align-self: center;
      width: 300px;
      height: 300px;
      border: rgb(253, 192, 223) solid 5px;
      border-radius: 30px;
  }
  .titulo {
      text-align: center;
  }
  .im1 {
      width: 400px;
  }
 
  @media (min-width:850px) and (max-width:1500px) {
      .categoria {
          display: inline;
      }
      nav ul li {
          font-size: 20px;
          padding-left: 40px;
          transition: 2s;
      } 
  
  .img {
      margin: 5px;
      width: 200px;
      height: 200px;
      align-self: center;
      transition: 2s;
      align-self: flex-start;
      margin-left: 50px;
  }
  .padre{
      height: 800px;
  }
.titulo {
    align-self: flex-start;
    margin-left: 100px;
}
.t2 {
    position: absolute;
    top: 120px;
    left: 280px;
}
.im2 {
    position: absolute;
    top: 192px;
    left: 270px;
}
.im3 {
    position: absolute;
    top: 192px;
    left: 550px;
}
.im5 {
    position: absolute;
    top: 413px;
    left: 270px;
}
.im6 {
    position: absolute;
    top: 413px;
    left: 550px;
}
.t3 {
    position: absolute;
    top: 620px;
    left: 250px;
}
.im7 {
    position: absolute;
    top: 630px;
    left: 10px;
}
.im8 {
    position: absolute;
    top: 680px;
    left: 250px;
}
.im9 {
    position: absolute;
    top: 680px;
    left: 500px;
}

 
  .logo {
      width: 60px;
      top: 22px;
      transition: 2s;
  }
}
@media (min-width:1500px) {
    .categoria {
        display: inline;
    }
    nav ul li {
        font-size: 20px;
        padding-left: 100px;
    }
    nav ul {
        padding-left: 200px;
    }
    .logo {
        width: 100px;
        left: 50px;
        top: 20px;
        border: #5f5f5f solid 5px;
        transition: width 2s;
    }
    .padre {
        height: 1000px;
    }
.titulo {
    align-self: flex-start;
}
.t1 {
    display: none;
}
    .img {

        align-self: flex-start;
        width: 250px;
        height: 250px;
    }
    .t2 {
        position: absolute;
        top: 100px;
        left: 310px;
        font-size: 30px;
    }
    .im1 {
        position: relative;
        top: 100px;
        left: 50px;
    }
    .im2 {
        position: absolute;
        top: 205px;
        left: 350px;
    }
    .im3 {
        position: relative;
        top: 120px;
        left: 50px;
    }
    .im4 {
        position: absolute;
        top: 485px;
        left: 350px;
    }
    .im5 {
        position: absolute;
        top: 205px;
        left: 650px;
    }
    .im6 {
        position: absolute;
        top: 485px;
        left: 650px;
    }
    .im7 {
        position: relative;
        top: 140px;
        left: 50px;
    }
    .t3 {
        position: absolute;
        top: 100px;
        left: 1150px;
        font-size: 30px;
    }
    .im8 {
        position: absolute;
        top: 205px;
        left: 1080px;
    }
    .im9 {
        position: absolute;
        top: 550px;
        left: 1080px;
    }
}